.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.tattoo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tattoo-pic{
  width: 600px;
  height: auto;
}

.tattoo-word{
  position: absolute;
  font-size: 50px;
  font-weight: 600;
}

.language-switcher {
  position: absolute;
  top: 30px;
  right: 30px;
}

.language-switcher select {
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
}